@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import './components/header';
@import './components/footer';

body{
    background-color: #FFF;
}

.inicio{
    margin-top:80px;
    height: calc(100vh -  140px);
}